<html>

<head>
    <meta name="robots" content="noindex">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&subset=latin,cyrillic" rel="stylesheet">
    <title>404</title>
</head>

<body style="margin: 0%;  overflow-y: hidden;">
    <div style="background-image: url('images/ 404/ error 404.svg');">
        <div style="font-family: 'Roboto', Arial, sans-serif; position: absolute; width: 290px; height: 211px; left: 19px; top: 54px; font-style: normal; font-weight: 500; font-size: 174px; line-height: 211px; /* identical to box height */ color: #000000;">Ой!</div>
        <div style="


        position: absolute;
        width: 331px;
        height: 69px;
        left: 338px;
        top: 169px;
        
       font-family: 'Roboto', Arial, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 57px;
        line-height: 69px;
        /* identical to box height */
        
        
        color: #000000;">ошибочка :)</div>
        <div style="position: absolute;
        width: 733px;
        height: 84px;
        left: 25px;
        top: 296px;
        
       font-family: 'Roboto', Arial, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 42px;
        
        color: #000000;
        ">Извините, сейчас на сайте ведутся технические работы.</div>
        <div style="position: absolute;
        width: 465px;
        height: 42px;
        left: 25px;
        top: 398px;
        
       font-family: 'Roboto', Arial, sans-serif;
        font-style: normal;
        font-weight: 200;
        font-size: 35px;
        line-height: 42px;
        
        color: #000000;">Попробуйте зайти позднее.</div>
        <div style="position: absolute;
        width: 506px;
        height: 315px;
        left: 885px;
        top: 82px;
        
       font-family: 'Roboto', Arial, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 260px;
        line-height: 315px;
        /* identical to box height */
        
        display: flex;
        align-items: flex-end;
        text-transform: uppercase;
        font-feature-settings: 'tnum' on, 'lnum' on;
        
        color: #000000;
        ">404</div>
        <img class="background_img" style="background-image: url('images/404/error 404.svg');" src="images/404/error 404.svg"></img>
        <a href="http://krausmebel.ru/"><button style="position: absolute; width: 373px; height: 91px; left: 1122px; top: 555px; background-color: #FCA57F; color: #ffffff;border-radius: 7px; cursor: pointer; border: none; font-size: 20px">Вернуться на главную</button></a>
    </div>
</body>

</html>