<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/tilda-blocks-2.14.css" type="text/css" media="all" />
    <link rel="stylesheet" href="kraus/static/css/Cотрудничество.css" type="text/css" media="all" />
    <link rel="shortcut icon" href="kraus/static/images/.svg/Component_1.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&subset=latin,cyrillic" rel="stylesheet">

    <title>Cотрудничество</title>
</head>

<body class="t-body">
    {% include 'main/header.html' %}
    <div class="content">
        <h1 class="header h1">Cотрудничество</h1>
        <p class="txt">
            Компания непрерывно развивается, увеличивая ассортимент товаров и охватывая все новые категории клиентов. Поэтому компания готова к сотрудничеству с новыми поставщиками, девелоперами, крупными компаниями, дизайн-студиями и дизайнерами, предлагая для них
            уникальные условия.
        </p>
        <p class="txt"><h3 class="subtitle">Работая с нами, вы получаете:</h3><br>- особые условия и привилегии,<br>- персонального менеджера,<br>- дизайнерскую мебель,<br>- возможность заказать мебель по индивидуальным параметрам и дизайнам.</p>
        <p class="txt"></p>
        <h2 class="header">Корпоративным клиентам</h2>
        <p class="txt">
            Компания всегда готова к сотрудничеству с компаниями по меблировке коттеджных поселков, апартаментов, кафе и ресторанов, гостиничных комплексов и загородных клубов.
        </p>
        <h2 class="header">Дизайнерам интерьеров</h2>
        <P class="txt">Если вы дизайнер интерьеров, представитель дизайн-студии, архитектор или декоратор и хотите получить особые условия сотрудничества - напишите нам на почту kraus.mebel@yandex.ru.</p>
        <h2 class="header">Поставщикам</h2>
        <p class="txt">Компания стремится предложить своим клиентам максимально широкий и качественный ассортимент мебели, поэтому заинтересована в прямых контактах с поставщиками в России.</p>
        <p class="txt">
            <h2 class="subtitle">По вопросам обращайтесь:</h2><br>Телефон: +7 912 712 46 44<br> Электронный адрес: Kraus.mebel@yandex.ru
        </p>
    </div>
    {% include 'main/footer.html' %}
</body>

</html>