<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Контакты</title>
    <link rel="stylesheet" href="kraus/static/css/Контакты.css" type="text/css" media="all" />
    <link rel="shortcut icon" href="kraus/static/images/.svg/Component_1.ico" type="image/x-icon">
</head>

<body style="background: #fff1e0">
    {% include 'main/header.html' %}
    <h1 class="header_h1">Наши контакты</h1>
    <div class="for_client"><strong>Уважаемые наши Клиенты!</strong><br>Вы всегда можете связаться с нами по электронной почте, написать в WhatsApp, Viber, Telegram или просто позвонить по указанному телефону.<br>Если Вы приедете к нам лично, то мы с удовольствием встретим Вас,
        проведём экскурсию по нашему производству и напоим ароматным кофе или чаем.<br><br>
        <strong>Звоните, пишите, приезжайте!</strong>
    </div>
    <div class="content">
        <div class="vc_row wpb_row vc_row-fluid">
            <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner vc_custom_1597418014220">
                    <div class="wpb_wrapper">
                        <ul class="ltx-block-icon    vc_custom_1651669723509 has-descr  icons-count-4 align-center ltx-icon-color-main ltx-icon-size-default ltx-header-color-default ltx-icon-type-transparent ltx-bg-color-transparent layout-cols4 ltx-icon-top  row centered" id="like_sc_block_icon_1022831892">
                            <li class=" col-lg-3 col-md-6 col-sm-6 col-ms-6 col-xs-6 ">
                                <div class="in"><a href="#"><span class="ltx-icon  bg-transparent"><img src="kraus/static/images/02Адрес.png" class="ltx-icon-image" alt="Адрес"></span></a>
                                    <h6 class="header"> Адрес </h6>
                                    <div class="descr">г. Киров,<br>ул. Складская, д. 21<br>
                                    </div>
                            </li>

                            <li class=" col-lg-3 col-md-6 col-sm-6 col-ms-6 col-xs-6 "><a href="mailto:Kraus.mebel@yandex.ru" class="in"><span class="ltx-icon  bg-transparent"><img src="kraus/static/images/02Электронный адрес.png" class="ltx-icon-image" alt="Электронный адрес"></span> <h6 class="header"> Электронный адрес </h6> <div class="descr"><a href="mailto:Kraus.mebel@yandex.ru">Kraus.mebel@yandex.ru</a></div>
                                </a>
                            </li>



                            <li class=" col-lg-3 col-md-6 col-sm-6 col-ms-6 col-xs-6 ">
                                <div class="in"><a href="https://wa.me/79091405252?text=Здраствуйте.%20Хочу%20Заказать%20мебель."><span class="ltx-icon  bg-transparent"><img src="kraus/static/images/02WhatsApp.png" class="ltx-icon-image" alt="Телефон"></span></a>
                                    <h6 class="header"> WhatsApp </h6>
                                    <!-- <div class="descr"><a href="https://wa.me/79058718929?text=Здраствуйте.%20Вопрос%20по%20поводу%20покупки.">+7 912 712 46 44</a></div> -->
                                </div>
                            </li>

                            <li class=" col-lg-3 col-md-6 col-sm-6 col-ms-6 col-xs-6 ">
                                <div class="in"><a href="viber://chat?number=+79091405252" rel="nofollow"><span class="ltx-icon  bg-transparent"><img src="kraus/static/images/02Viber.png" class="ltx-icon-image" alt="Телефон"></span></a>
                                    <h6 class="header"> Viber </h6>
                                    <!-- <div class="descr"><a href="//chat?number=+79058718929" rel="nofollow">+7 912 712 46 44</a></div> -->
                                </div>
                            </li>

                            <li class=" col-lg-3 col-md-6 col-sm-6 col-ms-6 col-xs-6 ">
                                <div class="in"><a href="https://t.me/AndreyGrinev" rel="nofollow"><span class="ltx-icon  bg-transparent"><img src="kraus/static/images/02Telegram.png" class="ltx-icon-image" alt="Телефон"></span></a>
                                    <h6 class="header"> Telegram </h6>
                                    <!-- <div class="descr"><a href="https://t.me/AndreyGrinev" rel="nofollow">+7 912 712 46 44</a></div> -->
                                </div>
                            </li>

                            <li class=" col-lg-3 col-md-6 col-sm-6 col-ms-6 col-xs-6 ">
                                <div class="in"><a href="tel:+79127124644"><span class="ltx-icon  bg-transparent"><img src="kraus/static/images/02Телефон.png" class="ltx-icon-image" alt="Телефон"></span></a>
                                    <h6 class="header"> Телефон </h6>
                                    <div class="descr"><a href="tel:+79127124644">+7 912 712 46 44</a></div>
                                </div>
                            </li>

                            <li class="clock col-lg-3 col-md-6 col-sm-6 col-ms-6 col-xs-6 ">
                                <div class="in " style="flex-wrap: wrap"><a hraf="#"><span class="ltx-iconbg-transparent"><img src="kraus/static/images/02Время работы.png" class="ltx-icon-image" alt="Время работы"></span></a>
                                    <h6 class="header"> Время работы </h6>
                                    <div class="descr">Понедельник — Пятница<br>08:00 — 17:00</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                        <p>
                            <a name="map" style="font-size:0;"></a>
                        </p>
                </div>
            </div>
            <div class="yandex_map" style="position:relative;overflow:hidden;"><a href="https://yandex.ru/maps/46/kirov/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Киров</a><a href="https://yandex.ru/maps/46/kirov/house/skladskaya_ulitsa_21/YEAYcw5pTEwPQFtifXl3cH1jYw==/?ll=49.599550%2C58.561098&utm_medium=mapframe&utm_source=maps&z=17.19"
                    style="color:#eee;font-size:12px;position:absolute;top:14px;">Складская улица, 21 — Яндекс Карты</a><iframe class="content_map" src="https://yandex.ru/map-widget/v1/-/CCUF7Ce49D" width="1700" height="600" frameborder="1" allowfullscreen="true"
                    style="position:relative;"></iframe></div>
        </div>
    </div>
    {% include 'main/footer.html' %}
</body>

</html>