.content {
    padding: 100px;
    font-size: 18px;
}

.header {
    margin-bottom: 10px;
}

.h1 {
    font-size: 50px;
}

.subtitle {
    margin-bottom: 10px;
}

.txt {
    margin-bottom: 50px;
    line-height: 1.5;
}